In [1]:
nums = [1,2,3,4,5]

def square(num):
    return num ** 2

for item in map(square, nums):
    print(item)

1
4
9
16
25

In [2]:
doubles = map(square, nums)
list(doubles)

[1, 4, 9, 16, 25]

In [3]:
doubles

In [4]:
# save the iterable object to a variable.
doubles = list(map(square, nums))

In [5]:
doubles

[1, 4, 9, 16, 25]

In [6]:
square = lambda num: num ** 2
list(map(square, nums))

[1, 4, 9, 16, 25]

In [7]:
def slicer(string):
    if len(string) % 2 == 0:
        return 'Even'
    return string[0]

In [8]:
names = ['Andy', 'Eve', 'Sally']

In [9]:
list(map(slicer, names))

['Even', 'E', 'S']

In [10]:
def check_even(num):
    return num % 2 == 0

In [11]:
nums = [1, 2, 3, 4, 5, 6]

In [12]:
list(filter(check_even, nums))

[2, 4, 6]

In [13]:
lambda num: num ** 2
square(2)

4

In [14]:
list(map(lambda num: num ** 2, nums))

[1, 4, 9, 16, 25, 36]

In [15]:
list(filter(lambda num: num % 2 == 0, nums))

[2, 4, 6]

In [16]:
names

['Andy', 'Eve', 'Sally']

In [17]:
list(map(lambda name: name[0], names))

['A', 'E', 'S']

In [18]:
# combining map and filter
cities = ['Detroit', 'Budapest', 'New York', 'Liverpool', 'Tokyo', 'Moscow', 'Cairo', 'Luanda', 'London', 'Belfast', 'Bucharest']

b_cities = list(map(lambda city: f"I want to visit {city}.", filter(lambda city: city[0] == 'B', cities)))