In [1]:
my_dict = { 'key1': 'value1', 'key2': 'value2' }

In [2]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [3]:
my_dict['key1']

'value1'

In [4]:
prices_lookup = { 'apple': 2.99, 'oranges': 1.50, 'milk': 3.79 }

In [5]:
prices_lookup['apple']

2.99

In [6]:
d = {'k1': 123, 'k2': [0, 1, 3], 'k3': {'insideKey': 100 }}

In [7]:
d

{'k1': 123, 'k2': [0, 1, 3], 'k3': {'insideKey': 100}}

In [8]:
d['k2'][0]

0

In [9]:
d['k3']['insideKey']

100

In [10]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [11]:
d.values()

dict_values([123, [0, 1, 3], {'insideKey': 100}])

In [12]:
d.items()

dict_items([('k1', 123), ('k2', [0, 1, 3]), ('k3', {'insideKey': 100})])

In [13]:
for key in d.keys():
    print(key)

k1
k2
k3

In [14]:
for key, val in d.items():
    print(key, val)

k1 123
k2 [0, 1, 3]
k3 {'insideKey': 100}

In [15]:
for val in d.values():
    print(val)

123
[0, 1, 3]
{'insideKey': 100}

In [16]:
123 in d.values()

True

In [17]:
d = { 'name': 'Philip', 'age': 38, 'active': True, 'hobbies': ['Walking', 'Reading', 'Exercising'] }

In [18]:
d.clear()

In [19]:
d

{}

In [20]:
d = { 'name': 'Philip', 'age': 38, 'active': True, 'hobbies': ['Walking', 'Reading', 'Exercising'] }

In [21]:
e = d.copy()

In [22]:
e

{'name': 'Philip',
 'age': 38,
 'active': True,
 'hobbies': ['Walking', 'Reading', 'Exercising']}

In [23]:
e is d

False

In [24]:
{}.fromkeys('a', 'b')

{'a': 'b'}

In [25]:
{}.fromkeys('a', [1, 2, 3, 4, 5])

{'a': [1, 2, 3, 4, 5]}

In [26]:
{}.fromkeys(['name', 'score', 'email', 'bio'], 'unkown')

{'name': 'unkown', 'score': 'unkown', 'email': 'unkown', 'bio': 'unkown'}

In [27]:
{}.fromkeys('phone', 'nothing')

{'p': 'nothing',
 'h': 'nothing',
 'o': 'nothing',
 'n': 'nothing',
 'e': 'nothing'}

In [28]:
{}.fromkeys(['phone'], 'nothing')

{'phone': 'nothing'}

In [29]:
d.get('name')

'Philip'

In [30]:
d

{'name': 'Philip',
 'age': 38,
 'active': True,
 'hobbies': ['Walking', 'Reading', 'Exercising']}

In [31]:
d.pop('active')

True

In [32]:
d

{'name': 'Philip', 'age': 38, 'hobbies': ['Walking', 'Reading', 'Exercising']}

In [33]:
# removes a random key-value pair from a dictionary
d.popitem()

('hobbies', ['Walking', 'Reading', 'Exercising'])

In [34]:
d

{'name': 'Philip', 'age': 38}

In [35]:
e = {}
e.update(d)

In [36]:
e

{'name': 'Philip', 'age': 38}

In [37]:
numbers = dict(first = 1, second = 2, third = 3)

squared_numbers = { key: value ** 2 for key, value in numbers.items() }
squared_numbers

{'first': 1, 'second': 4, 'third': 9}

In [38]:
nums = { num: num ** 2 for num in [1, 2, 3, 4] }

In [39]:
nums

{1: 1, 2: 4, 3: 9, 4: 16}

In [40]:
nums.keys()

dict_keys([1, 2, 3, 4])

In [41]:
nums[1]

1

In [42]:
str1 = 'ABC'
str2 = '123'

combo = { str1[i]: str2[i] for i in range(0, len(str1)) }

In [43]:
dict(zip(str1, str2))

{'A': '1', 'B': '2', 'C': '3'}

In [44]:
combo

{'A': '1', 'B': '2', 'C': '3'}

In [45]:
nums = [1, 2, 3, 4]

{ num: ('even' if num % 2 == 0 else 'odd') for num in nums }

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even'}

In [46]:
state_abbr = ['MI', 'AZ', 'NY', 'FL']
state = ['Michigan', 'Arizona', 'New York', 'Florida']

dict(zip(state_abbr, state))

{'MI': 'Michigan', 'AZ': 'Arizona', 'NY': 'New York', 'FL': 'Florida'}