In [1]:
s = set()

In [2]:
s.add(1)

In [3]:
s.add(2)

In [4]:
s

{1, 2}

In [5]:
s.clear()

In [6]:
s

set()

In [7]:
s = {1, 2, 3}

In [8]:
sc = s.copy()

In [9]:
sc

{1, 2, 3}

In [10]:
s.add(4)

In [11]:
sc

{1, 2, 3}

In [12]:
s

{1, 2, 3, 4}

In [13]:
# returns a new set that contains the items that exist only in the first set
s.difference(sc)

{4}

In [16]:
# removes all the items from the first set that also exist in the second set
s.difference_update(sc)

In [17]:
s

{4}

In [21]:
s1 = {1, 2, 3, 4}

In [22]:
s2 = {1, 4, 6, 9}

In [23]:
s1.difference(s2)

{2, 3}

In [24]:
s.discard(4)

In [25]:
s

{1, 2, 3}

In [29]:
s1 = {1, 2, 3, 4}

In [30]:
s2 = {1, 4, 6, 9}

In [32]:
# returns a new set containing elements found in both sets
s1.intersection(s2)

{1, 4}

In [33]:
# removes any item from set one that is absent from set two
s1.intersection_update(s2)

In [34]:
s1

{1, 4}

In [35]:
s1 = {1, 2}
s2 = {1, 2, 4}
s3 = {5}

In [36]:
s1.isdisjoint(s2)

False

In [37]:
# returns true because s1 and s3 don't share any identical element
s1.isdisjoint(s3)

True

In [39]:
s1.issubset(s2)

True

In [40]:
s2.issuperset(s1)

True

In [41]:
s1

{1, 2}

In [42]:
s2

{1, 2, 4}

In [43]:
# returns the items that exist in only one of the sets
s1.symmetric_difference(s2)

{4}

In [44]:
# returns a set containing all items from the original set and all the items from the specified set
# if an item is present in more than one set, the new set will contain only one appearance of this item
s1.union(s2)

{1, 2, 4}

In [45]:
s1.update(s2)

In [46]:
s1

{1, 2, 4}