In [1]:
s = set()

In [2]:
s.add(1)

In [3]:
s.add(2)

In [4]:
s

{1, 2}

In [5]:
s.clear()

In [6]:
s

set()

In [7]:
s = {1, 2, 3}

In [8]:
sc = s.copy()

In [9]:
sc

{1, 2, 3}

In [10]:
s.add(4)

In [11]:
sc

{1, 2, 3}

In [12]:
s

{1, 2, 3, 4}

In [13]:
# returns a new set containing the items that are unique to the first set
s.difference(sc)

{4}

In [14]:
# removes all the items from the first set that also exist in the second set
s.difference_update(sc)

In [15]:
s

{4}

In [16]:
s1 = {1, 2, 3, 4}

In [17]:
s2 = {1, 4, 6, 9}

In [18]:
s1.difference(s2)

{2, 3}

In [19]:
s.discard(4)

In [20]:
s

set()

In [21]:
s1 = {1, 2, 3, 4}

In [22]:
s2 = {1, 4, 6, 9}

In [23]:
# returns a new set containing only the identical elements shared by both sets
s1.intersection(s2)

{1, 4}

In [24]:
# removes any item from set one that is absent from set two
s1.intersection_update(s2)

In [25]:
s1

{1, 4}

In [21]:
s1 = {1, 2}
s2 = {1, 2, 4}
s3 = {5}

In [22]:
s1.isdisjoint(s2)

False

In [23]:
# returns true because s1 and s3 don't share any identical element
s1.isdisjoint(s3)

True

In [24]:
s1.issubset(s2)

True

In [25]:
s2.issuperset(s1)

True

In [26]:
s1

{1, 2}

In [27]:
s2

{1, 2, 4}

In [28]:
# returns a set containing all the items from both sets that are not present in both sets
s1.symmetric_difference(s2)

{4}

In [29]:
# returns a set containing all items from the original set and all the items from the specified set
# if an item is present in more than one set, the new set will contain only one appearance of the item
s3 = s1.union(s2)

In [30]:
s3

{1, 2, 4}

In [36]:
s1.update(s2)

In [37]:
s1

{1, 2, 4}

In [38]:
s1 = {'Logitech', 'Samsung', 'Sony', 'Ford'}
s2 = { 'Samsung', 'Ford', 'Polo', 'BMW'}

In [39]:
# union
s3 = s1 | s2

In [40]:
s3

{'BMW', 'Ford', 'Logitech', 'Polo', 'Samsung', 'Sony'}

In [41]:
# intersection
s3 = s1 & s2

In [42]:
s3

{'Ford', 'Samsung'}

In [43]:
# difference
s3 = s1 - s2

In [44]:
s3

{'Logitech', 'Sony'}

In [3]:
# set comprehension
{num ** 2 for num in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [47]:
len({letter for letter in 'sequoia' if letter in 'aeiou'}) == 5

True

In [4]:
{letter for letter in 'sequoia' if letter in 'aeiou'}

{'a', 'e', 'i', 'o', 'u'}