In [1]:
myList = [1, 2, 3]

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [6]:
list(range(0, 11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
word = 'abcde'

for index, letter in enumerate(word):
    print(f'at index {index} the letter is {letter}')

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [16]:
myList1 = [1, 2, 3, 4, 5]
myList2 = ['a', 'b', 'c']

for a, b in zip(myList1, myList2):
    print(a)
    print(b)

1
a
2
b
3
c

In [17]:
'x' in [1, 2, 3]

False

In [18]:
'x' in ['x', 'y', 'z']

True

In [19]:
'a' in 'a world'

True

In [20]:
'mykey' in { 'mykey': 345 }

True

In [22]:
d = { 'mykey': 345 }

345 in d.values()

True

In [23]:
myList = [10, 20, 30, 40, 100]
min(myList)

10

In [24]:
max(myList)

100

In [25]:
from random import shuffle

In [26]:
mylist = [3, 4, 5, 6, 7, 8, 9]

In [29]:
shuffle(mylist)

In [30]:
mylist

[9, 8, 6, 4, 7, 3, 5]

In [31]:
from random import randint

In [32]:
randint(0, 100)

98

In [33]:
randint(0, 100)

41

In [34]:
mynum = randint(0, 10)

In [35]:
mynum

2

In [37]:
result = input('Enter a number here: ')

Enter a number here: 50

In [38]:
result

'50'

In [39]:
int(result)

50

In [42]:
def myFunc(val):
    result = []
    
    for i in range(len(val)):
        print(i)

myFunc('12345')

0
1
2
3
4